---
import NavLink from "./ui/NavLink.astro";
---

<ul class="flex items-center justify-start gap-4 py-4 mt-20 flex-wrap">
  <li>
    <NavLink href="/">Authentication</NavLink>
  </li>
  <li>
    <NavLink href="/users">Users</NavLink>
  </li>
  <li>
    <NavLink href="/sessions">Sessions</NavLink>
  </li>
  <li>
    <NavLink href="/subscriptions">Subscriptions</NavLink>
  </li>
  <li>
    <NavLink href="/articles">Articles</NavLink>
  </li>
  <li>
    <NavLink href="/categories">Categories</NavLink>
  </li>
  <li>
    <NavLink href="/notifications">Notifications</NavLink>
  </li>
</ul>
